form {
  display: block;
  font-family: monospace;
  font-size: 15px;
}

input,
text {
  background-color: #dfe9e2;
  border: 1.5px solid;
  border-radius: 4px;
}

input {
  color: #989b99;
  padding: 10px 20px;
}

canvas {
  display: block;
  margin: 10px auto;
}

.unit {
  font-size: 17px;
}
